/*******************
BookCrossingApp Css
*******************/
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.subview {
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 47px;
  right: 0px;
  bottom: 50px;
  left: 0px;
  overflow: auto;
  background: #fff;
  -webkit-transition-property: top, bottom;
          transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;  
          transition-duration: .2s, .2s;  
  -webkit-transition-timing-function: linear, linear;
          transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* hack to hide loding message of Jquery */
.ui-loading .ui-loader { 
display: block; 
}

.ui-loader { 
display: none; 
position: absolute; 
}

/*BODY*/

body {
	background-image: url('./img/low_contrast_linen.png');
	background-repeat:repeat;
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: #169691;
  text-decoration: none;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Removes the dark touch outlines on links */
}

h1 {
    font-size:18px;
}

h2 {
    font-size:15px;
}

h3 {
    font-size:13px;
}

.blank{
height: 40px;  
}

/* Inputs text, email and password */
textarea {
    resize: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=text], input[type=email], input[type=password], textarea, select {
	width: 100%;
	padding: 15px 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 10px;
	background: #fff;
	border: 1px solid #dfe9ec;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}



input[type=text]:hover, input[type=email]:hover, input[type=password]:hover , textarea:hover, select:hover{
	background: #dfe9ec;
	color: #414848;
}

input[type=text]:focus,input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

#smalltext{
	-webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: inherit;    /* Firefox, other Gecko */
	box-sizing: inherit; /* Opera/IE 8+ */
	width: 220px;
}


/* Login buttons:left, right, facebook */
.buttonnormal {
	vertical-align: bottom;
	padding: 5px 10px;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonleft {
	float:left;
	padding: 11px 25px;
	margin-top: 10px;
	width:115px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonright {
	float:right;
	padding: 11px 25px;
	margin-top: 10px;
	width:115px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonlarge {
	width: 100%;
	padding: 15px 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	margin-top: 10px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 10px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonfacebook {
	float:left;
	padding: 11px 25px;
	margin-top: 10px;
	width:240px;	
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8b9dc3), color-stop(0.05, #3b5998), color-stop(1, #3b5998));
	border-radius: 10px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.tourlink{
	background-image: url('./img/television.png');
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0px;
	padding-left: 30px;
	font-size: 20px;
	text-shadow: 0 1px 1px #5A5B5A;
	color: white;
	text-decoration:none;
}

.bigbutton {
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-shadow: 0 1px 1px #5A5B5A;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	-moz-box-shadow: 0px 0px 3px #FFFFFF;
	-webkit-box-shadow: 0px 0px 3px #FFFFFF;
	box-shadow: 0px 0px 3px #FFFFFF;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	width : 100px;
	height : 100px;    
}

/*IMAGES*/
.logo
{
	background-image: url('./img/logo.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
    margin-left: auto;
	height: 200px;
	width: 200px;
    margin-right: auto;
	border:1px solid #FFFFFF;
}


/*HOME*/

ul {
  list-style-type: none;
  width: 100%;
}
 
.bookAlert img {
  float: left;
  margin: 0 15px 0 0;
  width: 50;
  height: 75px
}

.bookAlert .time {
  float: right;
  font-size:10px;
  margin-top: 5px;
  color: #9d9e9e;
}

.adAlert img {
  width: 273px;
  height: 75px;
}
 
li {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #9d9e9e;
}

#bookimg {
    float: left;
    margin: 5px 15px 5px 5px;
    width: 80px;
    height: 120px
}

/* Notification bar */
#notification {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(233, 90, 84);
    text-align: center;
    line-height: 2.0;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

    .cssanimations.csstransforms #notification {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }

    #close {
      position: absolute;
      right: 10px;
      top: 4px;
      text-indent: -9999px;
      background: url(img/close.png);
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    .cssanimations.csstransforms #close {
      display: none;
    }
    
    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-50px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-50px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }


/* SIGN */

#signOptions {
            margin:auto 0;
            text-align: center;
        }

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .loginheader {
	padding: 30px 30px 0px 30px;
}

.login-form .loginheader h1 {
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .loginheader span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}


.login-form .content {
	padding: 0 30px 25px 30px;
}

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.login-form .content  input{
	width: 210px;
	-webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: inherit;    /* Firefox, other Gecko */
	box-sizing: inherit; /* Opera/IE 8+ */
}

/*HEADER & FOOTER*/

/* Title bar
-------------------------------------------------- */
.bar-title {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
  display: -webkit-box;
  display: box;
  background-color: #76DDD9;
  background-image: -webkit-linear-gradient(top, #76DDD9 0, #169691 100%);
  background-image: linear-gradient(to bottom, #76DDD9 0, #169691 100%);
  border-bottom: 1px solid #0e5895;
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

/* Centered text in the .bar-title */
.bar-title .title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  white-space: nowrap;
}

.bar-title > a:not([class*="button"]) {
  display: block;
  width: 100%;
  height: 100%;
}

/* Retain specified title color */
.bar-title .title a {
  color: inherit;
}
	
/* Buttons in title bars
-------------------------------------------------- */
/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  z-index: 10; /* Places buttons over full width title */
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  background-color: #76DDD9;
  background-image: -webkit-linear-gradient(top, #76DDD9 0, #0984c6 100%);
  background-image: linear-gradient(to bottom, #76DDD9 0, #0984c6 100%);
  border: 1px solid #0e5895;
  box-shadow: 0 1px rgba(255, 255, 255, .25);
  -webkit-box-flex: 0;
          box-flex: 0;
}

.bar-title .title + [class*="button"]:last-child,
.bar-title .button + [class*="button"]:last-child,
.bar-title [class*="button"].pull-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #0876b1;
}

.bar-title [class*="button"] {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-weight: bold;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  vertical-align: top;
  cursor: pointer;
  background-color: #76DDD9;
  background-image: -webkit-linear-gradient(top, #76DDD9 0, #169691 100%);
  background-image: linear-gradient(to bottom, #76DDD9 0, #169691 100%);
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .05);
}

/* Active */
.bar-title [class*="button"]:active {
  padding-top: 5px;
  padding-bottom: 3px;
  color: #333;
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

/*BOTOM MENU*/

#tabbar {
    position: absolute;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:12px;
      background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
    border-top: 1px rgba(255,255,255,0.3) solid;
      bottom: 0;
      /*display: none;   build the tabbar off screen */
      height: 52px;
    overflow: hidden;
      width: 100%;
      z-index: 999;
     /*-webkit-box-shadow: 0 -0.05em 0 rgba(0,0,0,0.9); */
}

#tabbar ul{
  width: 100%;
}

#tabbar li{
  margin: 0;
  padding: 0;
  height: auto;
  width: 20%;
  display:block;
  float:left; 
  min-width: 3.33333em;
}

#tabbar a {
  -webkit-box-flex: 1;
  display: inline-block;
  height: 50px;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 100%;
  text-decoration: none
}

#tabbar a > strong {
  bottom: 1px;
  color: #787878;
  font: bold .925em "Helvetica Neue", Helvetica;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

#tabbar a.current{
   background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
}

#tabbar a.current> strong {
  color: #FFFFFF;
}

#tabbar a.current> div{
background-color: #FFFFFF;
}

#tabbar div{
background-color: #787878;
width: 100%;
height: 100%;
-webkit-mask-size: 50px;
-webkit-mask-position: center top;
-webkit-mask-repeat: no-repeat;
}

#tabbar .home{
-webkit-mask-image: url('./img/home.png');
}

#tabbar .addBook{
-webkit-mask-image: url('./img/addBook.png');
}

#tabbar .addZobc{
-webkit-mask-image: url('./img/addZobc.png');
}

#tabbar .more{
-webkit-mask-image: url('./img/more.png');
}

#tabbar .library{
-webkit-mask-image: url('./img/library.png');
}

