node_modules
dist
.tmp
.sass-cache
app/components
.idea
package.json
app/.DS_Store

app/scripts/.DS_Store

app/scripts/vendor/.DS_Store

app/scripts/vendor/phonegap/.DS_Store

app/styles/.DS_Store

app/scripts/vendor/phonegap/cordova-2.5.0.js

Android

Firefox

.DS_Store
