/*******************
LOGIN FORM
*******************/

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

#loginwrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 430px;
	margin: 25px auto;
}



.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .loginheader {
	padding: 30px 30px 0px 30px;
}

.login-form .loginheader h1 {
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .loginheader span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}


.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 15px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.login-form .content .select {
	width: 240px;
	padding: 15px 25px;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 15px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .select:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.login-form .content .select:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .buttonleft {
	float:left;
	padding: 11px 25px;
	margin-bottom: 5px;
	width:115px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonright {
	float:right;
	padding: 11px 25px;
	margin-bottom: 5px;
	width:115px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonfacebook {
	float:left;
	padding: 11px 25px;
	margin-bottom: 5px;
	width:240px;	
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8b9dc3), color-stop(0.05, #3b5998), color-stop(1, #3b5998));
	border-radius: 10px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}

/*BODY*/

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	background-image: url('../img/low_contrast_linen.png');
	background-repeat:repeat;
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*	padding-bottom:44px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode and on Android. */
}

.blank{
height: 40px;  
}

/*INTRO PAGE*/

.logo
{
	background-image: url('../img/logo.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
    margin-left: auto;
	height: 200px;
	width: 200px;
    margin-right: auto;
	border:1px solid #FFFFFF;
}

.tourlink{
	background-image: url('../img/television.png');
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0px;
	padding-left: 30px;
	font-size: 20px;
	text-shadow: 0 1px 1px #5A5B5A;
	color: white;
	text-decoration:none;
	text-align: bottom;
}

.bigbutton {
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-shadow: 0 1px 1px #5A5B5A;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	-moz-box-shadow: 0px 0px 3px #FFFFFF;
	-webkit-box-shadow: 0px 0px 3px #FFFFFF;
	box-shadow: 0px 0px 3px #FFFFFF;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	width : 100px;
	height : 100px;    
}

#formbox {
            margin:auto 0;
            text-align: center;
        }
	
/*HEADER & FOOTER*/
	
#header {
	width:100%;
	height:45px;
	line-height:45px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

#header a {
	color:#f3f3f3;
	text--decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#footer {
	width:100%;
	height:48px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));;
	padding:0;
	border-top:1px solid #444;
}

#footer a {
	display:block;
	text-decoration:none;
	font-size:12px;
	color:#eee;
	line-height:24px;
	text-shadow:0 -1px 0 #000;
}

#footer span {
	display:block;
	font-size:30px;
	font-weight:bold;
}


/*SCROLL*/

#wrapper {
	height:200px;		/* Of course you need to specify the object height */
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	width:100%;
	background:#aaa;
	overflow:hidden;
}

#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#scroller li > a {
	display:block;
}

/*MENU*/

#tabbar {
    position: absolute;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:12px;
      background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000),
    color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
    border-top: 1px rgba(255,255,255,0.3) solid;
      bottom: 0;
      /*display: none;   build the tabbar off screen */
      height: 52px;
    overflow: hidden;
      width: 100%;
      z-index: 999;
     /*-webkit-box-shadow: 0 -0.05em 0 rgba(0,0,0,0.9); */
}

#tabbar ul{
  width: 100%;
}

#tabbar li{
  margin: 0;
  padding: 0;
  height: auto;
  width: 20%;
  display:block;
  float:left; 
  min-width: 3.33333em;
}

#tabbar .badge {
  background-image: -webkit-gradient(radial, 50% -130%, 25, 50% 0, 54, color-stop(2%, rgba(255,255,255,0.3)), color-stop(4%, rgba(31,31,31,0.1)), color-stop(38%, rgba(239,239,239,0.1)));
  background-color: #ff0000;
  border: .25em solid #fff;
  color: #fff;
  display: block;
  font: bold .90em "Helvetica Neue", Helvetica;
  height: 1.2em;
  line-height: 1.2em;
  min-width: .5em;
  overflow: hidden;
  padding: .125em .375em;
  position: absolute;
  text-shadow: 0px -1em 1em rgba(0, 0, 0, 0.3);
  top: 3px;
  width: auto;
  vertical-align: middle;
  z-index: 1;
  -webkit-box-shadow: 0px .1875em .3125em rgba(0, 0, 0, 1.0);
  -webkit-border-radius: .9125em;
}

#tabbar .badge.left {
  left: auto;
  right: 54%;
}

#tabbar .badge.right {
  left: 54%;
  right: auto;
}

#tabbar a {
  -webkit-box-flex: 1;
  display: inline-block;
  height: 50px;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 100%;
  text-decoration: none
}

#tabbar a > strong {
  bottom: 1px;
  color: #787878;
  font: bold .925em "Helvetica Neue", Helvetica;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

#tabbar a.current{
   background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #76DDD9), color-stop(0.05, #2DB9B4), color-stop(1, #169691));
}

#tabbar a.current> strong {
  color: #FFFFFF;
}

#tabbar a.current> div{
background-color: #FFFFFF;
}

#tabbar div{
background-color: #787878;
width: 100%;
height: 100%;  
-webkit-mask-size: 50px;
-webkit-mask-position: center top;
-webkit-mask-repeat: no-repeat; 
}

#tabbar .home{
-webkit-mask-image: url('../img/home.png');
}

#tabbar .addBook{
-webkit-mask-image: url('../img/addBook.png');
}

#tabbar .addZobc{
-webkit-mask-image: url('../img/addZobc.png');
}

#tabbar .more{
-webkit-mask-image: url('../img/more.png');
}

#tabbar .library{
-webkit-mask-image: url('../img/library.png');
}

