<div ng-controller="BookPositionCtrl">
    <div class="selectedBookBar">
        <img ng-src="{{selectedBook.get('image')}}">
        <h3>{{selectedBook.get("title")}}</h3>
        <p>by <span ng-repeat="author in selectedBook.get('authors')">{{author}}</span></p>
    </div>
    <div id="mapTrackingViewWrapper">
        <div id="mapView" ui-map="myMap"
             ui-options="mapOptions"
             ui-event="{'map-idle' : 'onMapIdle()'}" />
    </div>
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
         ui-event="{'map-click': 'openMarkerInfo(marker)'}">
    </div>
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
         ui-event="{'click': 'openMarkerInfo(marker)'}">
    </div>
    <div ui-map-info-window="myInfoWindow">
        <ul>
            <li>
                <div class="bookPopUp">
                    <img ng-click="selectBook(selectedBook)" ng-src='{{selectedBook.get("image")}}'/>
                    <a ng-click="selectBook(selectedBook)"><h3>{{selectedBook.get('title')}}</h3></a>
                    <p>{{selectedBook.get('releasedAtDescription')}} <a ng-click="selectUser(selectedBook.user)">{{selectedBook.user}}</a></p>
                    <p class="time">{{selectedBook.time}}</p>
                </div>
            </li>
        </ul>
    </div>
 </div>