<div id="layout">
<div id="header">BookCrossingApp</div>
<div id="wrapper"><div id="scroller">
<div ng-controller="MainCtrl">
 <div ng-model="book.title"></div>

    <ul id="thelist">
        <li ng-repeat="book in bookList">{{book.title}}</li>	
    </ul>
</div> 
</div></div>
<div id="footer">
<nav id="tabbar">
    <ul >
     <!-- Action & navigation -->
		<li><a href="#main" class="current flip"><div class="home"></div></a></li>    
		<li><a href="#addBook" class="flip"><div class="addBook"></div></a></li>
		<li><a href="#addZobc" class="flip"><div class="addZobc"></div></a></li>
		<li><a href="#library" class="flip"><div class="library"></div></a></li>
		<li><a href="#about" id="li_tab" class="flip"><div class="more"></div></a></li>
    </ul>
</nav>
</div>
</div>