<div id="loginwrapper" ng-controller="SignUpCtrl">
	<form name="login-form" class="login-form" ng-submit="registerNewUser()">
		<div class="loginheader">
		    <h1>Sign up</h1>
		</div>
		<div class="content">
		    <input name="username" type="email" class="input username" ng-model="userEmail"  placeholder="Email" />
		    <input name="password" type="password" class="input password" ng-model="userPassword"  placeholder="Password" />
		     <!-- <input name="passwordAgain" type="password" class="input password"  placeholder="Confirm Password" /> -->
		</div>

		<div class="footer" >
		    <input type="submit" value="Register" class="buttonleft" />
		    <a href="#/sign"><input type="button" name="submit" value="Cancel" class="buttonright" /></a>
            {{registerResult}}
		</div>		
	</form>
</div>