<div id="loginwrapper">
	<form name="login-form" class="login-form" action="signup2.html" method="post">
		<div class="loginheader">
		<h1>Sign up</h1>
		</div>
		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Email" />
		<input name="password" type="password" class="input password" placeholder="Password" />
		<input name="passwordAgain" type="password" class="input password" placeholder="Confirm Password" />
		</div>

		<div class="footer">
		<input type="submit" name="submit" value="Register" class="buttonleft" />
		<a href="javascript:navigator_Go('index.html');"><input type="button" name="submit" value="Cancel" class="buttonright" /></a>
		</div>		
	</form>
</div>