<div id="loginwrapper">
	<form name="login-form" class="login-form" action="main.html" method="post">
		<div class="loginheader">
		<h1>Sign in</h1>
		</div>
		<div class="content">
			<input name="username" type="text" class="input username" placeholder="Email" />
			<input name="password" type="password" class="input password" placeholder="Password" />
		</div>
	    <div class="footer">
	        <a href="#/main"><input type="submit" name="submit" value="Connect" class="buttonleft" />></a>
	        
	        <a href="#/sign"><input type="button" name="submit" value="Cancel" class="buttonright" /></a>
	        <input type="submit" name="submit" value="Connect with Facebook" class="buttonfacebook" />
	    </div>		
	</form>
</div>