<div id="loginwrapper" ng-controller="SignUpCtrl">
	<form name="login-form" class="login-form">
		<div class="loginheader">
		    <h1>Sign up</h1>
		</div>
		<div class="content">
		    <input name="username" type="email" class="input username" ng-model="user.email" required placeholder="Email" />
		    <input name="password" type="password" class="input password" ng-model="user.password" required placeholder="Password" />
		    <input name="passwordAgain" type="password" class="input password" required placeholder="Confirm Password" />
		</div>

		<div class="footer" >
		    <button ng-click="signUserUp()" type="submit" class="buttonleft" >Register</button>
		    <a href="#/sign"><input type="button" name="submit" value="Cancel" class="buttonright" /></a>
		</div>		
	</form>
</div>