<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		   = "com.treeangular.BookCrossingApp"
        version 	= "1.0.1">

  <name>BookCrossing</name>

  <description>The best mobile implementation for book crossing!</description>

  <author email="treeangular@gmail.com">TreeAngular</author>

  <!-- Platform Build Selection -->
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <gap:platform name="winphone" />

  <!-- Preferences -->
  <preference name="phonegap-version" value="3.0.0" />
  <preference name="orientation" value="portrait" />
  <preference name="webviewbounce" value="false" />
  <!--<preference name="auto-hide-splash-screen" value="false" />-->

  <!-- Preferences iOS only-->
  <preference name="prerendered-icon" value="true" />
  <preference name="target-device" value="universal" />
  <preference name="EnableLocation" value="true" />

    <!-- Define app icon for each platform. -->
    <icon src="styles/img/icon/icon.png" gap:role="default" /> <!-- default 512 pixels -->
    <!-- IOS -->
    <icon src="styles/img/icon/ios/icon72x72.png" /> <!-- default 72 pixels -->
    <icon src="styles/img/icon/ios/icon57x57.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone & iPod Touch non retina iOS6 -->
    <icon src="styles/img/icon/ios/icon72x72.png" gap:platform="ios" width="72" height="72" /> <!-- iPad non retina iOS6 -->
    <icon src="styles/img/icon/ios/icon76x76.png" gap:platform="ios" width="76" height="76" /> <!-- iPad non retina iOS7 -->
    <icon src="styles/img/icon/ios/icon114x114.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone & iPod Touch retina iOS6 -->
    <icon src="styles/img/icon/ios/icon120x120.png" gap:platform="ios" width="120" height="120" /> <!-- iPhone & iPod Touch retina iOS7 -->
    <icon src="styles/img/icon/ios/icon144x144.png" gap:platform="ios" width="144" height="144" /> <!-- iPad retina iOS6 -->
    <icon src="styles/img/icon/ios/icon152x152.png" gap:platform="ios" width="152" height="152" /> <!-- iPad retina iOS7 -->
    <!-- Android -->
    <icon src="styles/img/icon/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <icon src="styles/img/icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <icon src="styles/img/icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <icon src="styles/img/icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
    <icon src="styles/img/icon/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" /> <!-- 144 pixels -->
    <icon src="styles/img/icon/android/xxxhdpi.png" gap:platform="android" gap:density="xxxhdpi" /> <!-- 192 pixels -->
    <!-- WinPhone -->
    <icon src="styles/img/icon/winphone/icon.png" gap:platform="winphone" /> <!-- 57 pixels -->
    <icon src="styles/img/icon/winphone/tileicon.png" gap:platform="winphone" gap:role="background" /> <!-- 72 pixels -->

    <!-- Splash Screens -->
    <gap:splash src="styles/img/splash.png" />
    <!-- IOS -->
    <gap:splash src="styles/img/splash/ios/splash320x480.png" gap:platform="ios" width="320" height="480" /> <!-- iPhone & iPod Touch non retina -->
    <gap:splash src="styles/img/splash/ios/splash640x960.png" gap:platform="ios" width="640" height="960" /> <!-- iPhone & iPod Touch retina 4- -->
    <gap:splash src="styles/img/splash/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone & iPod Touch retina 5+ -->
    <gap:splash src="styles/img/splash/ios/splash1024x768.png" gap:platform="ios" width="1024" height="768" /> <!-- iPad non retina -->     no
    <gap:splash src="styles/img/splash/ios/splash768x1024.png" gap:platform="ios" width="768" height="1024" /> <!-- iPad non retina -->
    <gap:splash src="styles/img/splash/ios/splash2048x1536.png" gap:platform="ios" width="2048" height="1496" /> <!-- iPad retina -->  no
    <gap:splash src="styles/img/splash/ios/splash1536x2048.png" gap:platform="ios" width="1536" height="2008" /> <!-- iPad retina -->
    <!-- Android -->
    <gap:splash src="styles/img/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
    <gap:splash src="styles/img/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
    <gap:splash src="styles/img/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
    <gap:splash src="styles/img/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->
    <!-- WinPhone -->
    <gap:splash src="styles/img/splash/winphone/splash.jpg" gap:platform="winphone" /> <!-- Windows Phone 7 480x800 -->

  <!--Usage-->
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation" />
  </feature>
  <feature name="Geolocation">
      <param name="android-package" value="org.apache.cordova.GeoBroker" />
  </feature>

  <feature name="org.apache.cordova.facebook.Connect">
      <param name="ios-package" value="FacebookConnectPlugin" />
  </feature>

  <feature name="org.apache.cordova.facebook.Connect">
      <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
  </feature>

  <access origin="*" />

  <!--Plugins-->
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.globalization" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="com.phonegap.plugins.barcodescanner" />
  <gap:plugin name="com.adobe.plugins.gaplugin" />
  <gap:plugin name="com.phonegap.plugins.facebookconnect">
  <param name="APP_ID" value="160779410752321" />
  <param name="APP_NAME" value="BookCrossing Mobile Application" />
  </gap:plugin>

 </widget>

