<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		   = "com.crossers.bookcrossingapp"
        version 	= "1.0.2">

  <name>bookCrossing</name>

  <description>bookCrossing</description>

  <author email="truegoldenwarriors@gmail.com">bookCrossing</author>

  <icon src="styles/img/icon.png" gap:role="default" />
  <icon src="styles/img/icon.png" gap:platform="ios" width="57" height="57" />
  <icon src="styles/img/icon.png" gap:platform="ios" width="72" height="72" />
  <icon src="styles/img/icon.png" gap:platform="ios" width="114" height="114" />

  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>

  <preference name="orientation" value="portrait" />

  <preference name="phonegap-version" value="2.5.0" />
  <preference name="target-device" value="universal" />

  <!-- Splash Screens -->
  <gap:splash src="styles/img/splash.png" />
  <gap:splash src="styles/img/splash.png" gap:platform="android" gap:density="ldpi" />
  <gap:splash src="styles/img/splash.png" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="styles/img/splash.png" gap:platform="android" gap:density="hdpi" />

  <gap:splash src="styles/img/splash.png" width="320" height="480" />
  <gap:splash src="styles/img/splash.png" width="640" height="960" />
  <gap:splash src="styles/img/splash.png" width="640" height="1136" />
  <gap:splash src="styles/img/splash.png" width="1024" height="768" />
  <gap:splash src="styles/img/splash.png" width="768" height="1024" />

</widget>