<div ng-switch on="option" ng-controller="ScreenShotsCtrl">
    <a id="close" href="#/TakeTour"></a>
    <div ng-switch-when="register" class="screenShotsview">
        <p class="findScreen"></p>
        <p class="registerScreen"></p>
        <p class="barcodeScreen"></p>
     </div>
    <div ng-switch-when="release" class="screenShotsview">
        <p class="optionsScreen"></p>
        <p class="releaseScreen"></p>
    </div>
    <div ng-switch-when="follow" class="screenShotsview">
        <p class="bookScreen"></p>
        <p class="positionScreen"></p>
        <p class="trackingScreen"></p>
        <p class="reviewsScreen"></p>
        <p class="commentsScreen"></p>
    </div>
    <div ng-switch-when="find" class="screenShotsview">
        <p class="mapScreen"></p>
        <p class="bookScreen"></p>
    </div>
    <div ng-switch-when="hunt" class="screenShotsview">
        <p class="optionsScreen"></p>
    </div>
</div>