<div ng-controller="AddBookCtrl">
    <div ng-show="addBook==false">
        <div ng-hide="book.isbn!=null && book.isbn!=''">
            <a ng-click="addNewBook()" style="margin-top:5px; float: right; clear: left">ISBN not found?</a>
    <input name="bookIsbn" type="text" ng-model="isbn" placeholder="ISBN" />
    <input type="button" ng-click="findBook()"  value="Find book" class="buttonlarge" />
            </div>
    <div ng-show="book.isbn!=null && book.isbn!=''">
        <h2 class="bookResultOption" class="bookFound">Check book information</h2>
        <input name="bookName" type="text" ng-model="book.title"  placeholder="Title" />
        <img class="bookimg" style="margin-right: 5px; margin-top: 10px" ng-src="{{book.image}}"/>
        <span style="display: block; overflow: hidden;">
            <textarea style="height: 190px" name="bookDescription" ng-model="book.description"  placeholder="Description" />
        </span>
        <input type="button" ng-click="registerNewBook(book)"  value="Register" class="buttonlarge" />
    </div>
    </div>
    <div ng-show="addBook==true">
    <h2 class="bookResultOption" class="bookFound">Add book information</h2>
    <input name="bookName" type="text" ng-model="book.title"  placeholder="Title" />
    <div style="width: 100%">
        <img class="bookimg" style="margin-right: 5px; margin-top: 10px" ng-src="{{book.image}}"/>
        <span style="display: block; overflow: hidden;">
        <textarea style="height: 190px" name="bookDescription" ng-model="book.description"  placeholder="Description" />
        </span>
    </div>
    <input type="button" ng-click="registerNewBook(book)"  value="Register" class="buttonlarge" />
    </div>
</div>


