<div ng-controller="BookCtrl">
    <div>
        <img class="bookimg" ng-src="{{book.get('image')}}"/>
        <h1>{{book.get('title')}}</h1>
        <h3> by <span ng-repeat="author in book.get('authors')">{{author}}</span></h3>
        <div style="margin-top: 5px">
            <div ng-show="book.get('rating')<1" class="starSmall"></div>
            <div ng-hide="book.get('rating')<1" class="selectedStarSmall"></div>
            <div ng-show="book.get('rating')<2" class="starSmall"></div>
            <div ng-hide="book.get('rating')<2" class="selectedStarSmall"></div>
            <div ng-show="book.get('rating')<3" class="starSmall"></div>
            <div ng-hide="book.get('rating')<3" class="selectedStarSmall"></div>
            <div ng-show="book.get('rating')<4" class="starSmall"></div>
            <div ng-hide="book.get('rating')<4" class="selectedStarSmall"></div>
            <div ng-show="book.get('rating')<5" class="starSmall"></div>
            <div ng-hide="book.get('rating')<5" class="selectedStarSmall"></div>
        </div>
        <p><strong>Status:</strong> {{book.get('bookStatus').get('status') | localizeIt}}</p>
        <p><strong>Travel:</strong> {{book.get('kilometers')}} km</p>
    </div>
    <div class="bookDescription">
        <h3>Description</h3>
        <p ng-hide="seeMoreOrLess=='See less'">{{book.get('description') | truncateString}}<a ng-click="expand()">{{seeMoreOrLess}}</a></p>
        <p ng-hide="seeMoreOrLess=='See more'">{{book.get('description')}} <a ng-click="expand()"> {{seeMoreOrLess}}</a></p>
    </div>
    <ul id="BookOptionList">
        <li class="bookOption" ng-click="goTo('views/bookPosition.html')"><h2 id="positionOption">Position</h2></li>
        <li class="bookOption" ng-click="goTo('views/mapTracking.html')"><h2 id="trackingOption">Route</h2></li>
        <li class="bookOption"  ng-click="goTo('views/reviews.html')"><h2 id="reviewOption">Reviews</h2></li>
        <li class="bookOption"  ng-click="goTo('views/comments.html')"><h2 id="commentOption">Comments</h2></li>
    </ul>
</div>