<div ng-controller="BookBarcodeCtrl">
<h3 style="margin-bottom: 5px">{{'_BookRegisteredSuccessfully_' | localizeIt}}</h3>
<p><strong>{{'_CheckYourEmail_' | localizeIt}}</strong>{{'_FollowTheNextSteps_' | localizeIt}}</p>
<p id="step1Small">{{'_PrintABookCrossingAppLabel_' | localizeIt}}</p>
<p id="step2Small">{{'_WriteYourRegistrationIdInTheLabel_' | localizeIt}}</p>
<p id="step3Small">{{'_PasteTheLabelInYourBook_' | localizeIt}}</p>
<p id="step4Small">{{'_GoToRelease_' | localizeIt}}</p>
<div class="label"></div>
    <div id="registrationId">{{registrationId}}</div>
</div>