<div ng-controller="CommentsCtrl" style="overflow:hidden; height: 100%">
    <ul id="commentList">
        <li ng-repeat='comment in comments'>
            <div class="commentItemList">
                <img ng-click="selectUser(comment.user.id)"  ng-src='{{comment.user.image}}'>
                <a ng-click="selectUser(comment.user.id)"><h3>{{comment.user.nick}}</h3></a>
                <p>{{comment.content}}</p>
                <p class="time">{{comment.time}}</p>
            </div>
        </li>
    </ul>
    <div id="addComment">
        <textarea ng-model="addComment" name="newComment" rows="3"  placeholder="Add your comment" />
        <input ng-click="addNewComment()"  type="submit" value="Add" class="buttonlarge" />
    </div>
</div>