<div ng-controller="CommentsCtrl" style="overflow:hidden; height: 100%">
    <div class="selectedBookBar">
        <img ng-src="{{selectedBook.get('image')}}">
        <h3>{{selectedBook.get("title")}}</h3>
        <p ng-repeat="author in selectedBook.get('authors')">{{author}}</p>
    </div>
    <ul id="commentList">
        <li ng-repeat='comment in comments'>
            <div class="commentItemList">
                <img ng-click="selectUser(comment.get('user'))"  ng-src='{{comment.get("user").get("image")}}'>
                <a ng-click="selectUser(comment.get('user'))"><h3>{{comment.get("user").get("nick")}}</h3></a>
                <p>{{comment.get("content")}}</p>
                <p class="time">{{comment.createdAt | roundedTime}}</p>
            </div>
        </li>
    </ul>
    <div id="addComment">
        <textarea ng-model="comment.content" name="content" rows="3"  placeholder="Add your comment" />
        <input ng-click="addNewComment(comment)" ng-disabled="clicked"  type="submit" value="Add" class="buttonlarge" />
    </div>
</div>