<nav id="tabbar">
    <ul >
     <!-- Action & navigation -->
		<li><a ng-click="goTo('views/home.html')" ng-class="home"><div class="home"></div></a></li>
		<li><a ng-click="goTo('views/addBook.html')" ng-class="addBook"><div class="addBook"></div></a></li>
		<li><a ng-click="goTo('views/huntBook.html')" ng-class="huntBook"><div class="huntBook"></div></a></li>
		<li><a ng-click="goTo('views/myLibrary.html')" ng-class="myLibrary"><div class="library"></div></a></li>
		<li><a ng-click="goTo('views/settings.html')" ng-class="settings"><div class="more"></div></a></li>
    </ul>
</nav>