<div ng-controller="HomeCtrl">
 <ul>
    <li ng-repeat='alert in alerts' ng-switch on="alert.type">
	    <div class="bookAlert" ng-switch-when="book">
			<img ng-click="selectBook(alert.id)"  ng-src='{{alert.image}}'>
			<a ng-click="selectBook(alert.id)"><h3>{{alert.title}}</h3></a>
			<p>{{alert.content}} <a ng-click="selectUser(alert.user)">{{alert.user}}</a></p>
			<p class="time">{{alert.time}}</p>
		</div>
		<div class="adAlert" ng-switch-when="ad">
			<img ng-src='{{alert.image}}'>
		</div>
	</li>
  </ul>
</div>