<div ng-controller="HomeCtrl" infinite-scroll="nextPage()" infinite-scroll-distance="3">
 <ul>
    <li ng-repeat='alert in alerts'>
	    <div class="bookItemList">
			<img ng-click="selectBook(alert.get('book'))"  ng-src='{{alert.get("book").get("image")}}'>
			<a ng-click="selectBook(alert.get('book'))"><h3>{{alert.get("book").get("title")}}</h3></a>
			<p>{{alert.get("actionType").get('description') | localizeIt}} by <a ng-click="selectUser(alert.get('user'))">{{alert.get("user").get('username')}}</a></p>
			<p class="time">{{alert.createdAt | roundedTime}}</p>
		</div>
	</li>
  </ul>
</div>