<div ng-controller="HuntBookCtrl">
<form name="registerNewBook-form" ng-submit="huntBook(book)">
    <h2 class="huntOption">{{'_HuntABook_' | localizeIt}}</h2>
    <input class="registrationId" name="bookBarcode" pattern=".{4,}" type="text" ng-model="book.registrationId"  data-localize-it-attr="_RegistrationId_|placeholder" bca-to-upper-case required />
    <input type="submit"  value="Hunt" bca-track-event class="buttonlarge" ng-disabled="clicked" />
</form>
<h2 class="releaseOption">{{'_ReleaseABook_' | localizeIt}}</h2>
<ul>
    <li >
        <div class="bookReleaseItemList">
            <div ng-repeat='book in books' ng-switch on="book.get('image')">
                <span ng-click="release(book.id)"  class="bookNoImage" ng-switch-when="undefined">{{book.get('title')}}</span>
                <img  ng-click="release(book.id)"  ng-src='{{book.get("image")}}' ng-switch-default>
            </div>
        </div>
        <p ng-show="books.length==0">{{'_NoBooksToRelease_' | localizeIt}}</p>
    </li>
</ul>
</div>