<div ng-controller="HuntBookCtrl">
<form name="registerNewBook-form" ng-submit="huntBook(book)">
    <h2 class="huntOption">Hunt a book</h2>
    <input name="bookBarcode" type="text" ng-model="book.registrationId"  placeholder="Registration Id" required />
    <input type="submit"  value="Hunt" class="buttonlarge" ng-disabled="clicked" />
</form>
<h2 class="releaseOption">Release a book</h2>
<ul>
    <li >
        <div class="bookReleaseItemList">
            <div ng-repeat='book in books' ng-switch on="book.get('image')">
                <span ng-click="release(book.id)"  class="bookNoImage" ng-switch-when="undefined">{{book.get('title')}}</span>
                <img  ng-click="release(book.id)"  ng-src='{{book.get("image")}}' ng-switch-default>
            </div>
        </div>
        <p ng-show="books.length==0">No books to release</p>
    </li>
</ul>
</div>