<bca_header></bca_header>
<div class="subview">
<ng-include src="subPage"></ng-include>
</div>
<div id="footer">
<nav id="tabbar">
    <ul >
     <!-- Action & navigation -->
		<li><a ng-click="subPage='views/home.html'" class="current flip"><div class="home"></div></a></li>
		<li><a ng-click="subPage='views/addBook.html'" class="flip"><div class="addBook"></div></a></li>
		<li><a ng-click="subPage='views/addZobc.html'" class="flip"><div class="addZobc"></div></a></li>
		<li><a ng-click="subPage='views/myLibrary.html'" class="flip"><div class="library"></div></a></li>
		<li><a ng-click="subPage='views/settings.html'" id="li_tab" class="flip"><div class="more"></div></a></li>
    </ul>
</nav>
</div>
</div>