<div ng-controller="MapCtrl">
    <div id="mapViewWrapper">
        <div id="mapView" ui-map="myMap"
             ui-options="mapOptions"
             ui-event="{'map-idle' : 'onMapIdle()'}" />
    </div>
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
         ui-event="{'map-click': 'openMarkerInfo(marker)'}">
    </div>
    <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
         ui-event="{'click': 'openMarkerInfo(marker)'}">
    </div>
    <div ui-map-info-window="myInfoWindow">
        <ul>
            <li>
                <div class="bookPopUp">
                    <img ng-click="selectBook(book.id)"  ng-src='{{book.image}}'>
                    <a ng-click="selectBook(book.id)"><h3>{{book.title}}</h3></a>
                    <p>{{book.content}} <a ng-click="selectUser(book.user)">{{book.user}}</a></p>
                    <p class="time">{{book.time}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>