<div ng-controller="MyLibraryCtrl" >
    <div ng-show="selectedUser==null">
        <div id="mylibrarystatusWrapper"><input id="mylibrarystatus" ng-model="library.status" name="status" type="text" placeholder="What's happening today?" /></div>
        <img class="buttonimage" id="saveComment" ng-click="updateUserStatus()" src="styles/img/save.png" />
    </div>
    <div id="libraryheader">
        <img id="libraryimg" ng-src='{{library.image}}'/>
        <div>
            <h2>{{library.nick}}</h2>
            <p>Favorite genre: {{library.favoriteGenre}}</p>
            <p>{{library.status}}</p>
            <div class="boxheader">
                <p class="boxtext">Registers</p>
                <p class="boxnum">{{library.registrations}}</p>
            </div>
            <div class="boxheader">
                <p class="boxtext">Hunts</p>
                <p class="boxnum">{{library.hunts}}</p>
            </div>
            <div class="boxheader">
                <p class="boxtext">Comments</p>
                <p class="boxnum">{{library.comments}}</p>
            </div>
        </div>
    </div>
    <h2 class="bookListOption">
        List of books
        <img class="h2button" ng-hide="listView" ng-click="changeView()" ng-src="styles/img/mosaic.png"/>
        <img class="h2button" ng-show="listView" ng-click="changeView()" ng-src="styles/img/list.png"/>
    </h2>
    <div ng-hide="listView">
        <ul>
            <li ng-repeat='book in books'>
                <div class="bookItemList">
                    <img ng-click="selectBook(book)"  ng-src='{{book.get("image")}}'>
                    <a ng-click="selectBook(book)"><h3>{{book.get("title")}}</h3></a>
                    <p><strong>Status:</strong> {{book.get('bookStatus').get('status') | localizeIt}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="librarymosaic" ng-show="listView" infinite-scroll="nextPage()" infinite-scroll-distance="5">
        <div class="librarymosaicitem" ng-repeat='book in books'>
            <img ng-click="selectBook(book)" ng-src='{{book.get("image")}}'>
        </div>
    </div>
</div>
