<div id="wrapperMyLibrary" ng-controller="MyLibraryCtrl" >
    <div style="background: #ffffff">
        <div ng-show="selectedUser==null">
            <div id="mylibrarystatusWrapper"><input id="mylibrarystatus" ng-model="library.status" name="status" type="text" data-localize-it-attr="_WhatHappeningToday_|placeholder" /></div>
            <img class="buttonimage" id="saveComment" ng-click="updateUserStatus()" src="styles/img/save.png" />
        </div>
        <div id="libraryheader">
            <img id="libraryimg" ng-src='{{library.image}}'/>
            <div>
                <h2>{{library.nick}}</h2>
                <!--<p>{{'_FavoriteGenre_' | localizeIt}} {{library.favoriteGenre}}</p>-->
                <p>{{library.status}}</p>
                <div class="boxheader">
                    <p class="boxtext">{{'_Registers_' | localizeIt}}</p>
                    <p class="boxnum">{{library.registrations}}</p>
                </div>
                <div class="boxheader">
                    <p class="boxtext">{{'_Hunts_' | localizeIt}}</p>
                    <p class="boxnum">{{library.hunts}}</p>
                </div>
                <div class="boxheader">
                    <p class="boxtext">{{'_Comments_' | localizeIt}}</p>
                    <p class="boxnum">{{library.comments}}</p>
                </div>
            </div>
        </div>
        <h2 class="bookListOption">
            {{'_ListOfBooks_' | localizeIt}}
            <img class="h2button" ng-hide="listView" ng-click="changeView()" ng-src="styles/img/mosaic.png"/>
            <img class="h2button" ng-show="listView" ng-click="changeView()" ng-src="styles/img/list.png"/>
        </h2>
    </div>
    <div style="background: #ffffff" ng-hide="listView">
        <ul>
            <li ng-repeat='book in books'>
                <div class="bookItemList">
                    <img ng-click="selectBook(book)"  ng-src='{{book.get("image")}}'>
                    <a ng-click="selectBook(book)"><h3>{{book.get("title")}}</h3></a>
                    <p><strong>{{'_Status_' | localizeIt}}</strong> {{book.get('bookStatus').get('status') | localizeIt}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="librarymosaic" ng-show="listView" infinite-scroll="nextPage()" infinite-scroll-distance="5">
        <div class="librarymosaicitem" ng-repeat='book in books'>
            <img ng-click="selectBook(book)" ng-src='{{book.get("image")}}'>
        </div>
    </div>
</div>
