<div ng-controller="MyLibraryCtrl">
    <div id="libraryheader">
        <img id="libraryimg" ng-src="styles/img/books/a_clockwork_orange.jpg"/>
        <div class="mainbox">
            <h2>Marc</h2>
            <div class="boxheader">
                <p class="boxtext">Registers</p>
                <p class="boxnum">{{library.registrations}}</p>
            </div>
            <div class="boxheader">
                <p class="boxtext">Hunts</p>
                <p class="boxnum">{{library.hunts}}</p>
            </div>
            <div class="boxheader">
                <p class="boxtext">Comments</p>
                <p class="boxnum">{{library.comments}}</p>
            </div>
            <div>
                <p>Favorite genre: Action</p>
                <p>We love books from Barcelona!</p>
            </div>
        </div>
    </div>
    <ul id="BookOptionList">
        <li><h2 id="bookList">List of books
            <img class="h2button" ng-hide="listView" ng-click="changeView()" ng-src="styles/img/mosaic.png"/>
            <img class="h2button" ng-show="listView" ng-click="changeView()" ng-src="styles/img/list.png"/></h2>
        </li>
    </ul>
    <div ng-hide="listView" infinite-scroll="nextPage()" infinite-scroll-distance="5">
        <ul>
            <li ng-repeat='book in books'>
                <div class="bookItemList">
                    <img ng-click="selectBook(book)"  ng-src='{{book.get("image")}}'>
                    <a ng-click="selectBook(book)"><h3>{{book.get("title")}}</h3></a>
                    <p><strong>Status:</strong> {{book.get('bookStatus').get('status') | localizeIt}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="librarymosaic" ng-show="listView" infinite-scroll="nextPage()" infinite-scroll-distance="5">
        <div class="librarymosaicitem" ng-repeat='book in books'>
            <img ng-click="selectBook(book)" ng-src='{{book.get("image")}}'>
        </div>
    </div>
</div>
