<div ng-controller="ReleaseBookCtrl">
    <!-- Replace with google maps view -->

    <div id="mapViewSmall" ui-map="myMap" ui-options="mapOptions">
    </div>
    <!-- End -->
    <select class="select" type="text"  name="SelectZobc">
        <option ng-repeat="zobc in zobcList" value="zobc.id">{{zobc.name}}</option>
    </select>
    <textarea ng-model="bookLocationDescription" name="bookDescription" rows="5"  placeholder="Give some clues to find the book!" />
    <input ng-click="release()" type="submit" value="Confirm release" class="buttonlarge" />
</div>