<div ng-controller="ReleaseBookCtrl">
    <input name="bookBarcode" type="text" ng-model="registrationId"  placeholder="Registration Id" required />
    <div id="mapViewSmallWrapper">
        <div id="mapView" ui-map="myMap" ui-options="mapOptions" />
    </div>
    <select class="select" type="text"  name="SelectZobc">
        <option ng-repeat="zobc in zobcList" value="zobc.id">{{zobc.name}}</option>
    </select>
    <textarea ng-model="bookLocationDescription" name="bookDescription" rows="4"  placeholder="Give some clues to find the book!" />
    <input ng-click="release()" type="submit" value="Confirm release" ng-disabled="clicked" class="buttonlarge" />
</div>