<div ng-controller="ReviewsCtrl">
    <div class="selectedBookBar">
        <img ng-src="{{selectedBook.get('image')}}">
        <h3>{{selectedBook.get("title")}}</h3>
        <p>by <span ng-repeat="author in selectedBook.get('authors')">{{author}}</span></p>
    </div>
    <ul>
        <li ng-repeat='review in reviews'>
            <div class="commentItemList">
                <img ng-click="selectUser(review.get('user'))"  ng-src='{{review.get("user").get("myPicture")}}'>
                <a ng-click="selectUser(review.get('user'))"><h3>{{review.get('user').get("nick")}}</h3></a>
                <div>
                    <div ng-show="review.get('rating')<1" class="starSmall"></div>
                    <div ng-hide="review.get('rating')<1" class="selectedStarSmall"></div>
                    <div ng-show="review.get('rating')<2" class="starSmall"></div>
                    <div ng-hide="review.get('rating')<2" class="selectedStarSmall"></div>
                    <div ng-show="review.get('rating')<3" class="starSmall"></div>
                    <div ng-hide="review.get('rating')<3" class="selectedStarSmall"></div>
                    <div ng-show="review.get('rating')<4" class="starSmall"></div>
                    <div ng-hide="review.get('rating')<4" class="selectedStarSmall"></div>
                    <div ng-show="review.get('rating')<5" class="starSmall"></div>
                    <div ng-hide="review.get('rating')<5" class="selectedStarSmall"></div>
                </div>
                <p style="margin-bottom: 5px">{{review.get('reviewText')}}</p>
                <div ng-hide="isLike(review.id)" class="likeOption" ng-click="like(review, true)" ng-disabled="LikeClicked">({{review.get("likeCount")}})</div>
                <div ng-show="isLike(review.id)" class="likeOption disabled">({{review.get("likeCount")}})</div>
                <div ng-hide="isUnlike(review.id)" class="unlikeOption" ng-click="like(review, false)" ng-disabled="UnlikeClicked">({{review.get("unLikeCount")}})</div>
                <div ng-show="isUnlike(review.id)" class="unlikeOption disabled">({{review.get("unLikeCount")}})</div>
                <p class="time">{{review.createdAt | roundedTime}}</p>
            </div>
        </li>
    </ul>

</div>