<div ng-controller="ReviewsBookCtrl">
    <h2>Send your rating and review:</h2>
    <div style="margin-top: 10px">
        <div ng-click="review.rate=1" ng-show="review.rate<1" class="star"></div>
        <div ng-click="review.rate=1" ng-hide="review.rate<1" class="selectedStar"></div>
        <div ng-click="review.rate=2" ng-show="review.rate<2" class="star"></div>
        <div ng-click="review.rate=2" ng-hide="review.rate<2" class="selectedStar"></div>
        <div ng-click="review.rate=3" ng-show="review.rate<3" class="star"></div>
        <div ng-click="review.rate=3" ng-hide="review.rate<3" class="selectedStar"></div>
        <div ng-click="review.rate=4" ng-show="review.rate<4" class="star"></div>
        <div ng-click="review.rate=4" ng-hide="review.rate<4" class="selectedStar"></div>
        <div ng-click="review.rate=5" ng-show="review.rate<5" class="star"></div>
        <div ng-click="review.rate=5" ng-hide="review.rate<5" class="selectedStar"></div>
    </div>
    <textarea rows="10" placeholder="Write your review" />
    <div class="clearfix">
    <input ng-click="sendReview ()" type="submit" value="Send" ng-disabled="clicked" class="buttonlarge" />
    </div>
</div>