<div ng-controller="ReviewsBookCtrl">
    <h2>Send your rating and review:</h2>
    <div style="margin-top: 10px">
        <div ng-click="review.rating=1" ng-show="review.rating<1" class="star"></div>
        <div ng-click="review.rating=1" ng-hide="review.rating<1" class="selectedStar"></div>
        <div ng-click="review.rating=2" ng-show="review.rating<2" class="star"></div>
        <div ng-click="review.rating=2" ng-hide="review.rating<2" class="selectedStar"></div>
        <div ng-click="review.rating=3" ng-show="review.rating<3" class="star"></div>
        <div ng-click="review.rating=3" ng-hide="review.rating<3" class="selectedStar"></div>
        <div ng-click="review.rating=4" ng-show="review.rating<4" class="star"></div>
        <div ng-click="review.rating=4" ng-hide="review.rating<4" class="selectedStar"></div>
        <div ng-click="review.rating=5" ng-show="review.rating<5" class="star"></div>
        <div ng-click="review.rating=5" ng-hide="review.rating<5" class="selectedStar"></div>
    </div>
    <textarea rows="10" placeholder="Write your review" ng-model="review.reviewText"/>
    <div class="clearfix">
    <input ng-click="sendReview(review)" type="submit" value="Send" ng-disabled="clicked" class="buttonlarge" />
    </div>
</div>