<div id="layout" ng-controller="SettingsCtrl">
    <div id="header">Settings</div>
   <input ng-click="SignOut()" class="bigbutton" type="button" value="Sign Out"/>
</div>

<div id="footer">
    <nav id="tabbar">
        <ul >
            <!-- Action & navigation -->
            <li><a href="#main" class="current flip"><div class="home"></div></a></li>
            <li><a href="#addBook" class="flip"><div class="addBook"></div></a></li>
            <li><a href="#addZobc" class="flip"><div class="addZobc"></div></a></li>
            <li><a href="#library" class="flip"><div class="library"></div></a></li>
            <li><a href="#settings" id="li_tab" class="flip"><div class="more"></div></a></li>
        </ul>
    </nav>
</div>
