<div ng-controller="SettingsCtrl">
   <p class="blank"></p>
    <!--<input ng-click="goTo('views/addZobc.html')" class="buttonlarge" type="button" data-localize-it-attr="_AddZobc_|value"/>-->
    <input ng-click="GoToUpdateProfile()" class="buttonlarge" type="button" data-localize-it-attr="_UpdateYourProfile_|value"/>
    <input ng-click="SignOut()" class="buttonlarge" type="button" data-localize-it-attr="_SignOut_|value" value="Sign Out"/>
    <input ng-click="SendSuggestion()" class="buttonlarge" type="button" data-localize-it-attr="_Suggestion_|value"/>
</div>

